<h4>liste des Utilisateurs</h4>


<mat-card>
  <mat-card-header>

    <mat-form-field appearance="legacy">
      <mat-label>Recherche</mat-label>
      <input matInput type = "search"  placeholder="Recherche" [(ngModel)]="searchUser" (change)="searchUserValue()"
             (keyup)="searchUserValue()">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

  </mat-card-header>
  <mat-card-content>

    <table class="table">
      <thead>
      <tr>
        <th scope="col">Nom Prénom</th>
      
        <th scope="col">Email</th>
      
    
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users ">
        <td>
          {{user?.name}}
          {{user?.lastname}}
        </td>
        
        <td>
          {{user?.email}}
        </td>
        <td>
          <mat-slide-toggle [checked]="user?.enabled" (change)="changeStatus(user)">
            Activé
          </mat-slide-toggle>
        </td>
       
      </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>

